 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/bg1.webp');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 763px;
}

.u-section-1 .u-form-1 {
  height: 534px;
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 134px 0 0 723px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  font-size: 1.875rem;
  font-weight: 500;
}

.u-section-1 .u-input-1 {
  --radius: 16px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  --radius: 16px;
}

.u-section-1 .u-input-3 {
  --radius: 16px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 98%;
  padding: 10px 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -534px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 16px 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 93px;
    margin-left: 560px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 429px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 51px;
    margin-left: 309px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 441px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-3 {
    margin: 30px 441px 51px 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-form-1 {
    height: 512px;
    width: 510px;
    margin-top: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: -725px;
    margin-right: 44px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 15px;
    margin-bottom: 60px;
    margin-left: -30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 281px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -754px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 27px;
    margin-right: -15px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 512px;
  background-image: url("images/gggg.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 431px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 40px 20px 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 509px;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 20px;
}

.u-section-2 .u-image-2 {
  min-height: 453px;
  width: 397px;
  height: auto;
  background-image: url("images/texture-min.png");
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 437px;
  height: 437px;
  background-image: url("images/g.jpg");
  background-position: 50% 50%;
  margin: -401px auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 434px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  margin: 20px 8px 0 52px;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 15px auto 0 52px;
  padding: 10px 44px 10px 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-2 .u-image-1 {
    min-height: 422px;
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-2 .u-text-1 {
    font-family: "Noto Sans";
    width: auto;
  }

  .u-section-2 .u-text-2 {
    font-family: "Noto Sans";
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 490px;
  }

  .u-section-2 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }

  .u-section-2 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 477px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-family: "Noto Sans";
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 44px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1718px;
  }

  .u-section-2 .u-image-1 {
    min-height: 646px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 612px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 347px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1364px;
  }

  .u-section-2 .u-image-1 {
    min-height: 485px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 241px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 560px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 246px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1362px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-bottom: 33px;
  }

  .u-section-2 .u-image-1 {
    min-height: 305px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 412px;
  }

  .u-section-2 .u-image-2 {
    min-height: 152px;
    width: 202px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: -100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 32px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1041px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 47px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  margin: 9px auto 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 821px;
  margin: 32px 0 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-4 {
  background-image: none;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: 261px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-3 .u-gallery-1 {
    height: 677px;
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1516px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 200px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1296px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3719px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 150px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 45px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3499px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2508px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 93px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2203px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 789px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 507px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 190px;
  height: 190px;
  background-image: url("images/indian_woman.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-4 .u-text-3 {
  margin: 29px 64px 0 56px;
}

.u-section-4 .u-text-4 {
  width: 206px;
  margin: 11px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 190px;
  height: 190px;
  background-image: url("images/indian_man1.webp");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-4 .u-text-6 {
  margin: 29px 64px 0 56px;
}

.u-section-4 .u-text-7 {
  width: 206px;
  margin: 11px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 190px;
  height: 190px;
  background-image: url("images/mrsSinghania.jpeg");
  background-position: 86.84% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  margin: 20px 1px 0;
}

.u-section-4 .u-text-9 {
  margin: 29px 64px 0 56px;
}

.u-section-4 .u-text-10 {
  width: 206px;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 467px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: 193px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    width: 193px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    width: 193px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1470px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 57px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 57px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 0;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 57px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 730px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 610px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 94px;
}

.u-section-5 .u-text-1 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 48px 94px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  font-family: Roboto, sans-serif;
  margin: 20px 71px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 21px 133px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 31px auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 610px;
  background-image: url("images/8e78e438ed256cec987bab004484bf56.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-5 .u-group-1 {
  min-height: 279px;
  height: auto;
  width: 376px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -135px auto 0 -71px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 78px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 59px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 110px;
  }

  .u-section-5 .u-btn-1 {
    position: relative;
  }

  .u-section-5 .u-image-1 {
    min-height: 100px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 59px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 45px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 84px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 45px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
    margin-right: 34px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 63px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 552px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin-top: 49px;
    margin-right: 22px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 16px;
    margin-left: 6px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-right: 104px;
    margin-left: 6px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 22px;
    margin-left: 6px;
  }

  .u-section-5 .u-image-1 {
    min-height: 378px;
  }

  .u-section-5 .u-group-1 {
    min-height: 459px;
    width: 87px;
    margin-top: -459px;
    margin-right: 0;
    margin-left: auto;
  }
}

.u-section-5 .u-group-1,
.u-section-5 .u-group-1:before,
.u-section-5 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-group-1.u-group-1.u-group-1:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-5 .u-group-1.u-group-1.u-group-1.hover {
  transform: translateX(0px) translateY(-5px) !important;
} .u-section-6 {
  min-height: 818px;
}

.u-section-6 .u-image-1 {
  height: 614px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -517px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 655px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0 1px;
}

.u-section-6 .u-text-2 {
  margin: 16px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 23px 1px 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  border-style: solid;
  margin: 30px auto 0 1px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 655px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-list-1 {
  width: 616px;
  margin: 0 -1px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 574px;
  margin-left: auto;
  grid-gap: 0px;
}

.u-section-6 .u-list-item-1 {
  margin-left: auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-2 {
  margin-left: auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-3 {
  margin-left: auto;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px;
}

.u-section-6 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-6 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-4 {
  margin-left: auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px;
}

.u-section-6 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-10 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-6 .u-text-11 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 703px;
  }

  .u-section-6 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-6 .u-list-1 {
    width: 504px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 470px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1094px;
  }

  .u-section-6 .u-image-1 {
    height: 466px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -466px;
    margin-bottom: 9px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 492px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-6 .u-list-1 {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 523px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 571px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 984px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-list-1 {
    width: 455px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 933px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1500px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 958px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-6 .u-list-1 {
    width: 270px;
    margin-top: -40px;
    margin-bottom: -40px;
  }
}